@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* Self-hosted Inter font (woff2) - ensure files exist in /static/fonts */
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Variable.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

body {
	font-family:
		'Inter',
		ui-sans-serif,
		system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		'Noto Sans',
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
}
.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
}

html.dark,
body {
	background-color: #333333;
	color: #d4d4d4;
}
