@import 'tailwindcss';
@plugin '@tailwindcss/typography';

body {
	font-family: 'Inter', sans-serif;
}
.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
}

html.dark,
body {
	background-color: #333333;
	color: #d4d4d4;
}
